@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}

.wrapper {
    overflow: hidden;
    position: relative;
    min-height: 100%;
    background: #222;
}

[class*="__container"] {
    margin: 170px auto;
}

[class*="__orbit"] {
    position: absolute;
    border: 2px solid #394057;
    border-radius: 50%;
    box-shadow: 0px 1px 1px #4096ee;
}

[class*="__planet"] {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

[class*="__text"] {
    width: 400px;
    border-radius: 5px;
    background: #0f132c;
    color: #767892;
    line-height: 1.7;
    z-index: 100;
    border: 1px solid #1c203c;
    opacity: 0;
    visibility: hidden;
}

[class*='__orbit']:hover [class*='__text'] {
    visibility: visible;
    opacity: 1;
}

[class*='__orbit']:hover {
    animation-name: paused;
    /* animation-play-state: paused; */
}

.stars__container {
    width: 100%;
    height: 100%;
    animation: planet-rotate 100s linear infinite;
}

.star {
    background: #FFF;
    border-radius: 100px;
    width: 1px;
    height: 1px;
    position: absolute;
    animation: flash 2s linear infinite;

}

.star:nth-of-type(1) {
    top: 83%;
    left: 50%;
    margin-left: 1618px;
    margin-top: 643px;
}

.star:nth-of-type(2) {
    top: 38%;
    left: 55%;
    margin-left: 218px;
    margin-top: 143px;
}

.star:nth-of-type(3) {
    top: 48%;
    left: 40%;
    margin-left: 518px;
    margin-top: 443px;
}

.star:nth-of-type(4) {
    top: 28%;
    left: 30%;
    margin-left: 318px;
    margin-top: 543px;
}

.star:nth-of-type(5) {
    top: 59%;
    left: 70%;
    margin-left: 818px;
    margin-top: 543px;
}

.star:nth-of-type(6) {
    top: 10%;
    left: 20%;
    margin-left: 818px;
    margin-top: 743px;
}

.star:nth-of-type(7) {
    top: 60%;
    left: 90%;
    margin-left: 618px;
    margin-top: 343px;
}

.star:nth-of-type(8) {
    top: 45%;
    left: 10%;
    margin-left: 818px;
    margin-top: 843px;
}

.star:nth-of-type(9) {
    top: 10%;
    left: 80%;
    margin-left: 818px;
    margin-top: 900px;
}

.star:nth-of-type(9) {
    top: 20%;
    left: 30%;
    margin-left: 1218px;
    margin-top: 850px;
}

.star:nth-of-type(10) {
    top: 39%;
    left: 23%;
    margin-left: 1418px;
    margin-top: 750px;
}

.star:nth-of-type(11) {
    top: 80%;
    left: 80%;
    margin-left: 1518px;
    margin-top: 650px;
}

.star:nth-of-type(12) {
    top: 80%;
    left: 60%;
    margin-left: 518px;
    margin-top: 650px;
}

.star:nth-of-type(13) {
    top: 30%;
    left: 90%;
    margin-left: 588px;
    margin-top: 250px;
}

.star:nth-of-type(14) {
    top: 24%;
    left: 10%;
    margin-left: 888px;
    margin-top: 220px;
}

.star:nth-of-type(15) {
    top: 10%;
    left: 32%;
    margin-left: 588px;
    margin-top: 180px;
}

.star:nth-of-type(16) {
    top: 25%;
    left: 27%;
    margin-left: 1588px;
    margin-top: 180px;
}

.star:nth-of-type(17) {
    top: 66%;
    left: 77%;
    margin-left: 1688px;
    margin-top: 480px;
}

.star:nth-of-type(18) {
    top: 95%;
    left: 57%;
    margin-left: 688px;
    margin-top: 480px;
}

.star:nth-of-type(19) {
    top: 75%;
    left: 27%;
    margin-left: 988px;
    margin-top: 580px;
}

.star:nth-of-type(20) {
    top: 25%;
    left: 75%;
    margin-left: 688px;
    margin-top: 380px;
}

.star:nth-of-type(21) {
    top: 55%;
    left: 67%;
    margin-left: 688px;
    margin-top: 880px;
}

.star:nth-of-type(22) {
    top: 25%;
    left: 50%;
    margin-left: 988px;
    margin-top: 480px;
}

.star:nth-of-type(23) {
    top: 60%;
    left: 18%;
    margin-left: 1528px;
    margin-top: 780px;
}

.star:nth-of-type(24) {
    top: 59%;
    left: 17%;
    margin-left: 1528px;
    margin-top: 680px;
}

.star:nth-of-type(25) {
    top: 36%;
    left: 64%;
    margin-left: 365px;
    margin-top: 676px;
}

.star:nth-of-type(26) {
    top: 42%;
    left: 79%;
}

.star:nth-of-type(27) {
    top: 62%;
    left: 43%;
    margin-left: 1068px;
    margin-top: 740px;
}

.star:nth-of-type(28) {
    top: 37%;
    left: 46%;
    margin-left: 1976px;
    margin-top: 766px;
}

.star:nth-of-type(29) {
    top: 56%;
    left: 30%;
    margin-left: 1839px;
    margin-top: 470px;
}

.star:nth-of-type(30) {
    top: 6%;
    left: 48%;
    margin-left: 1704px;
    margin-top: 891px;
}

.star:nth-of-type(31) {
    top: 14%;
    left: 74%;
    margin-left: 1492px;
    margin-top: 122px;
}

.star:nth-of-type(32) {
    top: 11%;
    left: 85%;
    margin-left: 192px;
    margin-top: 776px;
}

.star:nth-of-type(33) {
    top: 7%;
    left: 95%;
    margin-left: 1165px;
    margin-top: 280px;
}

.star:nth-of-type(34) {
    top: 9%;
    left: 64%;
    margin-left: 3700px;
    margin-top: 672px;
}

.star:nth-of-type(35) {
    top: 86%;
    left: 39%;
    margin-left: 2772px;
    margin-top: 208px;
}

.star:nth-of-type(36) {
    top: 87%;
    left: 14%;
    margin-left: 2596px;
    margin-top: 399px;
}

.star:nth-of-type(37) {
    top: 90%;
    left: 92%;
}

.star:nth-of-type(38) {
    top: 71%;
    left: 85%;
}

.star:nth-of-type(39) {
    top: 49%;
    left: 94%;
}

.star:nth-of-type(40) {
    top: 25%;
    left: 87%;
}

.solarsystem {
    position: relative;
    height: 640px;
    transform: scale(0.7);
    animation: magnification-solarsystem 2s linear;
}

.sun {
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg, #BB513E, #994233);
    border-radius: 50%;
    top: 302px;
    left: 462px;
    cursor: pointer;
    z-index: 10;
}

.sun__text {
    /* width: 0; */
    transform: translate(600px, -250px);
    padding: 30px;
    transition: all 1s ease 3s, background 2s ease 4s;
}

.sun:hover .sun__text {
    opacity: 1;
    visibility: visible;
    background: #071a96;
}

.mercury__orbit {
    width: 100px;
    height: 100px;
    top: 282px;
    left: 441px;
    z-index: 9;
    animation: planet-rotate 0.60057s linear infinite;
}

.mercury__planet {
    top: 0px;
    left: 10px;
    background: linear-gradient(90deg, #453217, #2a1f0e);
}

.mercury__text {
    transform: translate(600px, -250px) rotate(45deg);
    padding: 30px;
}

.venus__orbit {
    width: 170px;
    height: 170px;
    top: 250px;
    z-index: 8;
    left: 408px;
    animation: planet-rotate 3.3365s linear infinite;
}

.venus__planet {
    top: 0px;
    left: 34px;
    background: linear-gradient(90deg, #AC6339, #915430);
}

.venus__text {
    transform: translate(600px, -250px) skew(10deg, 15deg);
    padding: 30px;
}


.earth__orbit {
    width: 270px;
    height: 270px;
    top: 203px;
    left: 359px;
    z-index: 7;
    animation: planet-rotate 6.673s linear infinite;
}

.earth__planet {
    top: 22px;
    left: 34px;
    background: linear-gradient(90deg, #3E8EBB, #357aa0);
}

.earth__text {
    transform: translate(600px, -250px) skew(5deg, 5deg) scale(1.5);
    padding: 30px;
}

.mars__orbit {
    width: 370px;
    height: 370px;
    top: 154px;
    left: 310px;
    z-index: 6;
    animation: planet-rotate 10.0095s linear infinite;
}

.mars__planet {
    top: 22px;
    left: 68px;
    background: linear-gradient(90deg, #6F3125, #54251c);
}

.mars__text {
    transform: translate(600px, -250px) skew(5deg, 5deg) rotate(300deg) scale(1.2);
    transform-origin: top right;
    padding: 30px;
}


.jupiter__orbit {
    width: 470px;
    height: 470px;
    top: 107px;
    left: 259px;
    z-index: 5;
    animation: planet-rotate 13.346s linear infinite;
}

.jupiter__planet {
    top: 46px;
    left: 68px;
    background: linear-gradient(90deg, #3D2C14, #22190b);
    perspective: 700px;
    perspective-origin: 700px 10px;
}

.jupiter__text {
    transform: translate(600px, -250px) rotateX(50deg);
    padding: 30px;
}

.saturn__orbit {
    width: 570px;
    height: 570px;
    top: 62px;
    left: 208px;
    z-index: 4;
    animation: planet-rotate 20.019s linear infinite;
}

.saturn__planet {
    top: 46px;
    left: 101px;
    background: linear-gradient(90deg, #E97340, #e55c20);
    perspective: 400px;
}

.saturns__text {
    transform: translate(650px, -150px) translate3d(65px, 40px, 100px);
    padding: 30px;
}

.uranus__orbit {
    width: 670px;
    height: 670px;
    top: 16px;
    left: 156px;
    z-index: 3;
    animation: planet-rotate 26.692s linear infinite;
}

.uranus__planet {
    top: 71px;
    left: 101px;
    background: linear-gradient(90deg, #337799, #2a627e);
}

.uranus__text {
    transform: translate(900px, 0px) scale3d(2.0, 2.5, 1.5);
    padding: 30px;
}

.neptune__orbit {
    width: 770px;
    height: 770px;
    top: -35px;
    left: 105px;
    z-index: 2;
    animation: planet-rotate 33.365s linear infinite;
}

.neptune__planet {
    top: 98px;
    left: 101px;
    background: linear-gradient(90deg, #6ACDC0, #4fc4b5);
}

.neptune__text {
    transform: translate(900px, 0px) rotate3d(5, 3, 10, 90deg);
    padding: 30px;
}

.pluto__orbit {
    width: 870px;
    height: 870px;
    top: -82px;
    left: 53px;
    z-index: 1;
    animation: planet-rotate 40.038s linear infinite;
}

.pluto__planet {
    top: 98px;
    left: 134px;
    background: linear-gradient(90deg, #C6C053, #b8b23d);
    perspective: 1400px;
    perspective-origin: 700px 10px;
}

.pluto__text {
    transform: translate(900px, 0px)rotateY(30deg);
    padding: 30px;

}

.spaceship {
    position: absolute;
    top: 100px;
    left: -200px;
    border: 2px solid hsla(226, 21%, 28%, 0);
    width: 970px;
    height: 1px;
    border-radius: 50%;
    opacity: 1;
    animation: spaceship 5s linear 0.1s infinite;
    z-index: 10;
}

.spaceship__img {
    position: absolute;
    top: -200px;
    left: 0;
    transform: rotate(50deg) scale(0.1);
}


.popup {
    position: absolute;
    top: 250px;
    left: 71%;
    padding: 15px;
    color: #767892;
    background: #0f132c;
    text-align: center;
    animation: popup 2s ease 0.5 forwards;
    transform: scale(0);

}

.popup__title {
    animation: popup 2s ease 0.5 forwards;
    transform: translate(0px, 50%);
    margin-bottom: 15px;
    opacity: 0;
}

.popup__subtitle {
    animation: popup 2s ease 1s forwards;
    margin-bottom: 15px;
    opacity: 0;
}

.popup__text {
    animation: popup 2s ease 1.5s forwards;
    width: 500px;
    border: none;
    visibility: visible;
    background: none;
}

@keyframes popup {
    0% {}

    100% {
        transform: translate(0px, 0%);
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spaceship {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(1900px, 0);
    }
}

@keyframes magnification-solarsystem {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(0.7);
    }
}

@keyframes planet-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;

    }
}