@import url(reset.css);

/* =============================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* =============================================================================== */

body {
    font-family: 'Lato', sans-serif;
    color: #424551;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* =============================================================================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2)100%);
}

.page {}

.page__who-we-are-block {}

/* =============================================================================== */

.header__container {
    display: flex;
    align-items: center;
    gap: 60px;
    min-height: 92px;
}

.heder__logo {}

.header__menu {
    flex: 1 1 auto;
}

.menu {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 5px;
}

.menu__item {}

.menu__link {
    padding-bottom: 3px;
    font-weight: 700;
    position: relative;
    transition: color 0.7s linear 0s;
}

.menu__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #F75E05;
    transform: scaleX(0);
    transition: transform 0.7s ease 0s;
}

.menu__link:hover {
    color: #F75E05;
}

.menu__link:hover::after {
    transform: scale(1);
}

.header__actions {}

.actions__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 36px;
    row-gap: 5px;
}

.actions-header__button {}

.button {
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    padding: 16px 40px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background: linear-gradient(55.95deg, #F75E05 100%, #FF3F3A 0%);
    box-shadow: 1px 5px 10px rgba(255, 63, 58, .92);

}

.actions-header__auth {
    background: url('../img/profile.svg') left no-repeat;
    padding-left: 24px;
    font-weight: 700;
    line-height: 1.25;
}

.actions-header__auth:hover {
    text-decoration: underline;
}

/* =============================================================================== */


.page__main-block {}

.main-block {
    position: relative;
    padding: 200px 0px 80px 0px;
    background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    margin-bottom: 180px;
}

.main-block__container {
    position: relative;
    z-index: 2;
}

.main-block__body {
    margin-bottom: 189px;
}

.body-main {
    display: flex;
}

.body-main__content {
    flex: 0 1 50%;
    /* align-self: center; */
    padding-right: 40px;
}

.body-main__play {
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin: 10px 0px 40px 0px;
    position: relative;
}

.body-main__play::before {
    content: "";
    flex: 0 0 52px;
    background: #FF3F3A url(../img/play.svg) 20px/16px 16px no-repeat;
    width: 52px;
    height: 52px;
    border-radius: 50%;

}

.body-main__play::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #FF3F3A;
    opacity: 0.12;
    transform: scale(1.1);
    animation: play-circle 2s infinite ease;
}

@keyframes play-circle {
    0% {
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

.body-main__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    margin-bottom: 60px;
    letter-spacing: 1px;
    letter-spacing: 1px;
}

.body-main__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button--border {
    border-radius: 4px;
    background: transparent;
    color: #FF3F3A;
    border: 1px solid #FF3F3A;
}

.button--border:hover {
    color: #fff;
}

/* =============================================================================== */

.body-main__media {
    flex: 0 1 50%;
}

.body-main__image {
    max-width: 107.8%;
    transform: translate(7.8%, 0px);
}

/* =============================================================================== */

.advantages-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.item-advantages {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #1E212C;
}

.item-advantages__value {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
}

.item-advantages__text {
    line-height: 1.6;
}

.advantages-main__circle {
    background: #FF3F3A;
    flex: 0 0 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

/* =============================================================================== */
.decor-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.decor-main__item {
    position: absolute;
}

.decor-main__item--1 {
    background: url('../img/decor_1.svg') 0 0 no-repeat;
    width: 248px;
    height: 284px;
    top: 83%;
    left: -5.8%;
}

.decor-main__item--2 {
    background: url('../img/decor_2.svg') 0 0 no-repeat;
    width: 96px;
    height: 96px;
    top: 12%;
    left: 4.2%;
}

.decor-main__item--3 {
    background: url('../img/decor_3.svg') 0 0 no-repeat;
    width: 88px;
    height: 47px;
    top: 45%;
    left: 40%;
}

.decor-main__item--4 {
    background: url('../img/decor_4.svg') 0 0 no-repeat;
    width: 61px;
    height: 61px;
    top: 70%;
    left: 38%;
}

.decor-main__item--5 {
    background: url('../img/decor_5.svg') 0 0 no-repeat;
    width: 187px;
    height: 137px;
    top: 69%;
    right: -1.5%;
}

.decor-main__item--6 {
    z-index: 100;
    background: url('../img/decor_2.svg') 0 0 no-repeat;
    width: 96px;
    height: 96px;
    top: -1.5%;
    right: 7.7px;
    transform: rotate(136deg);
}

/* =============================================================================== */

.who-we-are-block {
    position: relative;
    margin-bottom: 180px;

}

.who-we-are-block__container {
    position: relative;
    display: flex;
    gap: 137px;
    z-index: 3;
}

.who-we-are-block__media {}

.who-we-are-block__image {
    flex: 0 0 57%;
}

.who-we-are-block__image img {
    max-width: 100%;
}

.who-we-are-block__text {
    flex: 0 0 31%;
}

.who-we-are-block__subtitle {
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #1e212c;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.who-we-are-block__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
    margin-bottom: 40px;
}

.who-we-are-block__list {
    margin-bottom: 52px;
}

.who-we-are-block__item {
    line-height: 1.6;
    position: relative;
    padding-left: 31px;
}

.who-we-are-block__item::before {
    content: "";
    background: url(../img/check.svg) 0 0 no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 0;
}


.who-we-are-block__item:not(:last-child) {
    margin-bottom: 12px;
}

.who-we-are-block__action {}

.who-we-are-block__button {}

.button {}

/* =============================================================================== */

.who-we-are-block-decore {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.who-we-are-block-decore__item {
    position: absolute;
    z-index: 2;
}

.who-we-are-block-decore__item--1 {
    background: url('../img/whoweare_decor_1.svg') 0 0 no-repeat;
    width: 218px;
    height: 227px;
    transform: rotate(181deg);
    top: 12.8%;
    left: -5.5%;

}

.who-we-are-block-decore__item--2 {
    background: url('../img/whoweare_decor_2.svg') 0 0 no-repeat;
    width: 288px;
    height: 288px;
    top: 48%;
    right: -9%;
}

/* =============================================================================== */

.footer {
    background: #fff linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2)100%);

}

.footer__link {
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    padding: 20px;

}

/* =============================================================================== */